.dashborad-navbar {
    width: 100%;
    display: flex;
    height: 70px;
    background-color: #fff;
    //  box-shadow:0 0 0 0 rgba(90,113,208,.11), 0 4px 16px 0 rgba(167,175,183,.83);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    &-left-side {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 275px;
        background-color: #4b5077;
        transition: all 0.5s;
        grid-gap: 8px;

        a {
            color: #232f34;
        }

        label.bar {
            display: none;
        }

        label {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: #232f34;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
            }
        }

    }

    &-right-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 275px);
        padding: 0px 25px 0px 10px;

        h2 {
            padding-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-weight: 600;
                color: #404040;
            }
        }

        .search {
            width: 35%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .user {
            display: flex;

            .notification-messages {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 25px;

                .notification,
                .message {
                    position: relative;
                    cursor: pointer;

                    span {
                        display: flex;
                        padding: 6px;
                        font-size: 17px;
                        margin: 4px;
                    }

                    .nCount {
                        background-color: #03ce03 !important;
                    }

                    .nCount,
                    .mCount {
                        background-color: red;
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 20px;
                        width: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        border-radius: 50%;
                        font-size: 12px;
                    }
                }
            }

            label {
                display: flex;
                align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }

            .name-time {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h3 {
                    font-size: 16px;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                span {
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }

    }
}

.notifications.show {
    // transform:scale(1);
}

.message.show {
    // transform:scale(1);
}

.notifications,
.messages {
    transform: top;
    transition: transform .5s ease 0s;
    position: absolute;
    background-color: #fff;
    width: 250px;
    height: 250px;
    right: calc(100% - 150px);
    padding: 10px;
    box-shadow: 0 0 0 0 rgba(90, 113, 208, .11), 0 4px 16px 0 rgba(167, 175, 183, .83);
    border: 1px solid 0 0 0 0 rgba(90, 113, 208, .11), 0 4px 16px 0 rgba(167, 175, 183, .83);
    border-radius: 0px;
    transform: scale(0);
    top: 58px;

    ul {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;

        li {
            position: relative;
            padding: 3px;

            &:hover {
                .nDelete {
                    transform: scale(1);
                }
            }

            .nDelete {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 11px;
                width: 22px;
                height: 22px;
                background-color: red;
                border-radius: 50%;
                right: 0;
                top: 0;
                cursor: pointer;
                transition: all 0.5s;
                transform: scale(0);
            }
        }
    }
}